{% extends "../base.html" %} 
{% block content %}
{% import math %}

<div class="container">
	<div class="row">

			<!-- Header BEGIN ========================================= -->
			<div class="col-xs-12 blue_bar">
				<div class="row">
					<div class="col-xs-9 form-inline search_bar"></div>
					<div class="col-xs-3 back_btn text-right">
<a style='cursor: pointer;' href="javascript: history.go(-1)"> <i
                                        class="fa fa-angle-left"></i> Back
                                </a>       					
   					</div>
   				</div>            
			</div>
			<!-- Header END =========================================== -->

			<!-- STATIC doc BEGIN ========================================= -->
 			{% block static_content_file %}{% end %}
			<!-- STATIC doc END =========================================== -->

	</div>
</div>
<!-- FONT RESIZE FUNCTION -->
<div style="display:none" id="font_size_attributes">.abt,.list_box li,p</div> <!-- DO NOT TOUCH -->
{% end %}

