{% extends "_base_static.html" %} 
{% block static_content_file %}

<script language="javascript">
function validateForm() {
    var x = document.forms["contactform"]["contactemail"].value;
    var atpos = x.indexOf("@");
    var dotpos = x.lastIndexOf(".");
    if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) {
        alert("It appears you have entered an invalid e-mail address.  Please verify and re-enter, if necessary.");
        return false;
    }
}
</script>

<div class="col-xs-12 main_container padding-zero-tp">
               
                    <div class="row">
                        <div class="col-xs-12 list_box dark_color">
                            <div class="col-xs-12 abt padding_zero">

<h2> About Us </h2>
                                
                                <p>
                                CustomsMobile was officially launched on October 27, 2014.  A private endeavor created by <a href="bio.html">Craig Briess</a>, a customs and international trade law attorney and 
				current CBP employee, CustomsMobile aims to offer the government, the trade community, and the public, greater access to vital Customs resources.
                                </p>
                                <p>
				CustomsMobile is proud to be the world's first website to provide:
</p>
<p>
<ul class="normalUL">
<li>A completely free service which does not require user registration;</li>
<li>Exclusive focus on providing Customs-oriented information in one centralized location;</li>
<li>Information fetched directly and live from the Federal government. CustomsMobile 's unique programming code ensures that your search results are always up-to-date; and</li>
<li>A truly enjoyable experience.</li>
</ul>
</p>				                           
                                <p>
				While mobile oriented, CustomsMobile need not be relegated to a user's mobile device!  In fact, the website also performs just well as a one-stop desktop website 
				that provides convenient tools that CROSS and CSMS do not.
</p>
                                
<p>
				We invite you to read more about CustomsMobile in our October 27, 2014 <a href="static/CustomsMobile_press_release.pdf" target="_blank">press release</a> announcing the launch of the website.
				We are excited to bring you this tool, and have many plans over the next months to improve and expand the tools that we provide.
</p>
<p>

				Feedback?  Ideas?  Complaints?  Your opinion matters!  Please contact us - we guarantee that we will read and consider every submission.

                                </p>
<p>
You may contact us using the form below, or by phone at <a href="tel:202-595-8998">(202) 595-8998</a>.
<div id="envelope">
<form name="contactform" id="contactform" onsubmit="return validateForm();" action="/static/send.php" method="post">
<header>
</header>
<label>Your Name</label>
<input name="contactname" placeholder="John Smith" type="text" width="100px;" required />
<label>Email Address</label>
<input name="contactemail"  placeholder="yourname@gmail.com" type="text" required />
<input style="display:none;" type="email" name="contactemail2" value="" />
<label>Contact Number</label>
<input name="contactnumber" placeholder="212-123-4567" type="text" />
<label>Website URL</label>
<input name="contactwebsite" placeholder="www.yoursite.com" type="text" />
<label>Message</label>
<textarea cols="15" name="contactmessage" placeholder="Message" rows="10" required />
</textarea>
<input type="submit" value="Send Message" name="contactsubmit" />
</form>
</div>
</p>
		
</div>

</div>
</div>
</div>

{% end %}

