{% extends "_base_static.html" %} 
{% block static_content_file %}

<div class="col-xs-12 main_container padding-zero-tp">
               
                    <div class="row">
                        <div class="col-xs-12 list_box dark_color">
                            <div class="col-xs-12 abt padding_zero">

<h2>DISCLAIMER</h2>
                                
<p></p>                                
<p>
This disclaimer is an agreement between you (also herein referred to as "user") and R.I. Diversified, LLC, exclusive owner and operator of customsmobile.com (hereinafter "CustomsMobile").  By using CustomsMobile, you agree that such use will be governed by this disclaimer, and agree that this disclaimer applies in its entirety.  If you disagree with any portion of this disclaimer, you must immediately cease use of CustomsMobile and exit the website by closing the tab, browser, or other medium through which you are accessing CustomsMobile.  Throughout this document, and except as explicitly stated, the term “use”, when referring to the individual's operation of or interaction with CustomsMobile, should be read to include all of the website's functionalities and services.
</p>
<p>
<table border="1">
<tr>
<td>
<big>
<strong>CustomsMobile is a private venture, owned and operated by R.I. Diversified, LLC.  CustomsMobile is not created, managed, supported, endorsed, and/or provided special treatment in any manner by any federal or state government or quasi-government entity.  Through its interactive pages - Rulings (http://www.customsmobile.com/cross), Notices (http://www.customsmobile.com/notices), HTSUS (http://www.customsmobile.com/usitc), Ports (http://www.customsmobile.com/ports) - CustomsMobile features almost exclusively public content fetched exclusively from two U.S. Government sources: U.S. Customs & Border Protection (http://www.cbp.gov) and the U.S. International Trade Commission (http://www.usitc.gov).  Should you have any questions, concerns, or comments, or wish to provide corrections to any content provided by CustomsMobile in the aforementioned sections, please contact the relevant U.S. Government agency.</strong>
</big>
</tr>
</table>
</p>
<p>
CustomsMobile employs the use of cookies.  Policy regarding such use is provided  in the <a href="privacy.html">Privacy page</a>.  By visiting or remaining on any web page of CustomsMobile, you consent with CustomsMobile's use of cookies in accordance with the terms of that Privacy policy.
</p>
<p>
<strong>License</strong>
<br/>
Most content presented in CustomsMobile's web pages is derived from two U.S. Federal Government sources, U.S. Customs & Border Protection (http://www.cbp.gov) and U.S. International Trade Commission (http://www.usitc.gov), and as such, remains copyright-free.  Nevertheless, the presentation of that information through CustomsMobile remains protected under copyright laws, and use of CustomsMobile remains restricted as provided out below.
<p>
You are permitted to use CustomsMobile for personal and/or business purposes.
</p>
<p>You may view pages from CustomsMobile in a webbrowser and retain copies of such web pages in any manner or format so long as such retention or process of such retention does not impact performance of CustomsMobile.  This includes, but is not limited to, printouts, storing web pages in cache, and downloading pages to your computer, smartphone, tablet, phablet, or other similar internet-connected device.</p>
</p>
<p>
You are permitted to use, display, publish, distribute, or exploit the content on CustomsMobile wihch is fetched from government sources and remains copyright-free.  Nevertheless, you are not permitted to re-publish, distribute, or exploit for any commercial purpose material directly from CustomsMobile so long as such activity has an appreciable impact on the function, performance, or security of CustomsMobile, and the source of the material remains hidden to the average user.
</p>
</p>
<p>
CustomsMobile reserves the right to restrict access to any or all sections of CustomsMobile, at our discretion.  You are prohibited from circumventing or bypassing, or attempting to circumvent or bypass, any access restriction measures on CustomsMobile.
</p>
<p>
<strong>Acceptable Use</strong>
<br/>
<ul class="normalUL">
<li>You shall not utilize CustomsMobile in any way that does or may cause damage, interference, or impairment to the performance, availability, accessability, or functionality of CustomsMobile.</li>
<li>You shall not utilize CustomsMobile in any way that does or may cause damage, interference, or impairment to the performance, availability, accessability, or functionality of any website or service from which CustomsMobile sources content.</li>
<li>You shall not utilize CustomsMobile in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</li>
<li>You shall not use CustomsMobile, or any website or service from which CustomsMobile sources content, to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</li>
<li>You shall not conduct any systematic or automated data collection activities on, in relation to, or through CustomsMobile.  Such systematic or automatied data collection includes, but is not limited to, scraping, data mining, data extraction and data harvesting.</li>
<li>You shall not access or otherwise interact with CustomsMobile using any robot, spider or other automated means, in any manner that does or may cause damage, interference, or impairment to the performance, availability, accessability, or functionality of CustomsMobile.</li>
<li>You shall not use or reference CustomsMobile for any direct marketing activity.  This includes, but is not limited to, direct mailing, telemarketing, legal advertising, email marketing, or SMS marketing.</li>
<li>You must not use data provided on or collected from CustomsMobile to contact individuals, companies or other persons or entities listed anywhere on, through, or by CustomsMobile.</li>
<li>You must ensure that all the information you supply to us through CustomsMobile, or in relation to CustomsMobile, is true, accurate, current, complete and non-misleading.</li>
<li>You must not submit information to or through CustomsMobile wihch is illegal or violative of any law or rule in the jurisdiction in which it such information being submitted.</li>
</ul>
</p>
<p>
<strong>Limited Warranties</strong>
<br/>CustomsMobile strives to provide the most accurate and complete information, which it fetches, or attempts to fetch, from two US Federal government websites – that of U.S. Customs & Border Protection (www.cbp.gov) and that of U.S. International Trade Commission (www.usitc.gov).  CusotmsMobile attempts to provide to the user the same content the user would have obtained had that user sought to obtain that content directly from the relevant US Federal Govermnent website.  Nevertheless, we do not warrant or represent the accuracy or completeness of any and all content published on customsMobile, whether due to the deficiency in the relevant content fetched or the failure of CustomsMobile operation, nor do we guarantee the sucessful retrieval of any such information sought.
<p>Users should verify any and all information retrieved through CustomsMobile directly from the original sources, U.S. Customs & Border Protection (www.cbp.gov) and U.S. International Trade Commission (www.usitc.gov).</p>
<p>Information provided on CustomsMobile is provided strictly for informational purposes and is not to be relied upon to make business or legal decisions.  Information provided on CustomsMobile is not intended to provide legal advice nor does use of our service create any client or user relationship with CustomsMobile or the website's owner, R.I. Diversified.</p>
<p>We reserve the right to discontinue or alter any or all of CustomsMobile or its services, and to stop publishing CustomsMobile, at any time and in our sole discretion, without notice or explanation.  Except to the extent expressly provided otherwise in this disclaimer, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing CustomsMobile.</p>
<p>To the fullest extent permitted by law and subject to the limitations and exclusoins specified below, R.I. Diverisified, LLC excludes all representations and warranties, express or implied, relating to this CustomsMobile or the information, materials, and services provided on by or through CustomsMobile.</p>
</p>
<p>
<strong>Limitations and Exclusions of Lliability</strong>
<br/>
This disclaimer will not limit or exclude any liability for fraud or fraudulent misrepresentation, limit any liabilities in any way that is not permitted under applicable law, or exclude any liabilities that may not be excluded under applicable law.
<p>The liability limitations and exclusions provided for in this section and elsewhere in this disclaimer are subject to the above exclusion, and govern all liabilities arising under this disclaimer or relating to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.</p>
<p>To the extent that CustomsMobile and the information and services provided through the website are provided free of charge:
<ul class="normalUL">
<li>we will not be liable for any loss or damage of any nature; e will not be liable to you in regards to any losses which arise out of any event or events beyond our reasonable control;</li>
<li>we will not be liable to you in regards to any business losses, including, but not limited to, loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill, or any special, direct, indirect, or consequentional damages;</li>
<li>we will not be liable to you in regards to any federal agency duties, taxes, fees or penalties which you incur;</li>
<li>we are not liable for any failure to obtain preferences, rebates, refunds, or other benefits that would otherwise be obtainable;</li>
<li>and we will not be liable to you in respect of any loss or corruption of any data, database or software.</li>
</ul>
<p>You acknowledge that CustomsMobile is owned and operated by R.I. Diversified, LLC.  Recognizing our interest in limiting R.I. Diverisifed, LLC's officers' and employees' personal liability, you agree to not not bring any claim personally against any officers or employees in respect of any losses you suffer in connection with CustomsMobile or this disclaimer.<br/>
</p>
</p>
<p>
<strong>Subject to Change</strong>
<br/>
We may update, revise, or otherwise modify this disclaimer from time to time.  Any such changed disclaimer shall apply to the use of our website from the time of publication of the changed disclaimer, which shall be published on this website and supplant the current disclaimer.  The bottom of the disclaimer will always reflect the most recent date of the disclaimer's modification.
</p>
<p>
<strong>Severability</strong>
<br/>
This disclaimer remains severable;  if any provision of this disclaimer is determined by any court or other competent authority to be void, unlawful, and/or unenforceable, the other provisions will continue in effect.
<p>If any unlawful and/or unenforceable provision of this disclaimer would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.
</p>
</p>
<p>
<strong>Law and jurisdiction</strong>
<br/>This disclaimer shall be governed by and construed in accordance with the laws of Virginia.
<p>
</p>
</p>
<p>
In the event a dispute shall arise relating to the use of CusotmsMobile or to this disclaimer, it is hereby agreed that the dispute shall be referred to United States Arbitration and Mediation for arbitration in accordance with United States Arbitration and Mediation Rules of Arbitration. The arbitrator’s decision shall be final and binding and judgment may be entered thereon. In the event a party fails to proceed with arbitration, or fails to comply with arbitrator’s award, the other party is entitled of costs of suit including a reasonable attorney’s fee for having to compel arbitration or defend or enforce the award.
</p>
<p><strong>Ownership & Contact Information</strong>
<br/>
CustomsMobile is wholly owned and controlled by R.I. Diversified, LLC.  Subject to any exclusions which govern non-copyrightable content presented in this website,   R.I. Diversified reserves all copyright and intellectual property rights in CustomsMobile.
<p>You can contact R.I. Diversified, LLC through the following methods:
</p>
<p>
<p>
<i class="fa fa-envelope"></i>  Email: <a href="http://www.customsmobile.com/about.html">Contact page</a>
</p>
<p>
<i class="fa fa-phone"></i> Phone: <a href="tel:202-595-8998">(202) 595-8998</a>
</p>
<p>
<i class="fa fa-building"></i> Mailing Address:
<br/>
R.I. Diversified, LLC
<br/>
50 Sutton Place South, Ste. 14A
<br/>
New York, NY 10022
</p>            
</p>
</p>
   <p> &nbsp; </p>
              <p>Last updated: 31 January, 2015</p>

</div>
</div>
</div>
</div>
{% end %}
