{% extends "_base_static.html" %} 
{% block static_content_file %}
<div class="col-xs-12 main_container padding-zero-tp">
               
                    <div class="row">
                        <div class="col-xs-12 list_box dark_color">
                            <div class="col-xs-12 abt padding_zero">
<p><h2>Craig Briess, founder</h2></p>
<p><img src="static/Craig.jpg" class="alignleft">Craig Briess began his legal career in customs law and international trade law at the New York City law firm Tompkins & Davidson, LLP. There, he advised clients regarding manufacturing and import rules under various international trade agreements, researched and analyzed manufacturing processes and costing structures of foreign companies, performed imported item valuation and classification analyses, and submitted protests to US Customs & Border Protection.  Craig also frequently interacted with US House and Senate staff and administrative agencies, respectively, regarding trade legislation and existing and proposed regulations.</p>

<p>Craig subsequently joined the International Trade Centre, Office of the Executive Director, in Geneva, Switzerland.  In his position there, Craig conducted legal review of contracts and agreements between the International Trade Centre (a joint organization of the World Trade Organization and the United Nations) and non-UN affiliated technical service providers, analyzed substantive rights and obligations of contracting parties, and reviewed contracts' procedural provisions.</p>

<p>The ITC provided Craig the chance to apply his legal, management, and technical skills.  Craig assisted in development and implementation of a content management system (CMS) that facilitated and coordinated delivery of ITC services to exporters, policy makers, and trade support institutions.  By the end of his tenure, he had singularly designed the CMS analytics logic and structure, implemented those designs, and created all related internal and external training materials.</p>

<p>Since July 2012, Craig has worked at U.S. Customs & Border Protection.  As a member of the Trade Agreements Branch, Craig performs such duties as providing internal and external guidance on trade agreements and special trade legislation (e.g., NAFTA, AGOA) and performing inter-governmental coordination of US and foreign FTA verifications.</p>

<p>Craig holds a BA from Franklin & Marshall College, Lancaster, Pennsynlvania, International MBA from Instituto de Empresa Business School, Madrid, Spain, and a law degree from University of Miami School of Law (cum laude), Miami, Florida.  He is a member of the New York, Connecticut, and Washington, D.C. bars, and is admitted to practice in front of the Court of International Trade.</p>

</div>
</div>
</div>
</div>
{% end %}
