{% extends "_base_static.html" %} 
{% block static_content_file %}
<div class="col-xs-12 main_container padding-zero-tp">
               
                    <div class="row">
                        <div class="col-xs-12 list_box dark_color">
                            <div class="col-xs-12 abt padding_zero">

<h2>PRIVACY POLICY AGREEMENT</h2>
                                <p>
                                R.I.Diversified, LLC (hereinafter referred to as “R.I. Diversified” or “We”), owner and operator of customsmobile.com and customscentral.us (hereinafter referred to as “Websites”, “The Websites”), is committed to keeping any and all personal information collected of those individuals that visit The Websites and make use of The Websites' online facilities and services accurate, confidential, secure and private. Our privacy policy has been designed and created to ensure those affiliated with R.I. Diversified of our commitment and realization of our obligation not only to meet but to exceed most existing privacy standards.
                                </p>
                                <p>
                                    Therefore this Privacy Policy Agreement shall apply to R.I. Diversified, and it thus shall govern any and all data collection and usage thereof. Through the use of customsmobile.com and/or customscentral.us, you are herein consenting to the following data procedures expressed within this agreement.
                                </p>
                                <p>
<strong>Requests for Information</strong><br/>
Since its launch in October 2014, CustomsMobile and/or its owner:
<ul class="normalUL">
<li>have not knowingly placed any backdoors into CustomsMobile's software and have not received any requests to do so;</li>
<li>have not received with any written government requests for information; and</li>
<li>have not complied with any government requests for information.</li>
</ul>
</p>

<p>
                                <strong>Collection of Information</strong><br/>
We collect various types of information, including but not limited to information automatically collected when visiting The Websites, which may include cookies, third party tracking technologies and server logs. We may also gather information about the type of browser you are using, IP address or type of operating system to assist us in providing and maintaining superior quality service.
<p>
It is highly recommended and suggested that you review the privacy policies and statements of any website you choose to use or frequent as a means to better understand the way in which other websites garner, make use of and share information collected.
</p>
</p>
<p>
<strong>Use of Information Collected</strong><br/>
R.I. Diversified may collect and may make use of personal information to assist in the operation of the server, website, and to ensure delivery of the services you need and request. At times, R.I. Diversified may find it necessary to use personally identifiable information as a means to keep you informed of other possible products and/or services that may be available to you from The Websites. R.I. Diversified may also be in contact with you with regards to completing surveys and/or research questionnaires related to your opinion of current or potential future services that may be offered.
<p>
R.I. Diversified does not sell, rent or lease any of our customer lists and/or names to any third parties. Yes, we use the Internet as well, and would not want our personal information sold or traded like a sack of potatoes in medieval Europe.
</p>
<p>
R.I. Diversified may deem it necessary to follow websites and/or pages that our users may frequent in an effort to gleam what types of services and/or products may be the most popular to customers or the general public.
</p>
<p>
R.I. Diversified may disclose your personal information, without prior notice to you, only if required to do so in accordance with applicable laws and/or in a good faith belief that such action is deemed necessary or is required in an effort to:
</p>
<p>
<ul class="normalUL">
<li>Remain in conformance with any decrees, laws and/or statutes or in an effort to comply with any process which may be served upon R.I. Diversified and/or The Websites;</li>
<li>Maintain, safeguard and/or preserve all the rights and/or property of R.I. Diversified;</li>
<li>Perform under demanding conditions in an effort to safeguard the personal safety of users of The Websites and/or the general public;</li>
<li>and utilize the service of third parties, on an episodic basis, to improve The Websites' services.  In such cases, the third parties will be required to adhere to R.I. Diversified's privacy policy and will be prohibited, without express consent, from removing personal information from R.I. Diversified's control. With such express consent, the third party will be prohibited from retaining such personal information for longer than necessary to completed any contracted work.</li>
</ul>
  </p>
  </p>
                                
                                <p>
<strong>Children Under Age of 13</strong><br/>

Children who are under thirteen (13) really shouldn't be visiting any website without parental supervision.  Regardless, R.I. Diversified does not knowingly collect personal identifiable information from children under the age of thirteen (13) without verifiable parental consent. If it is determined that such information has been inadvertently collected on anyone under the age of thirteen (13), R.I. Diversified shall immediately take the necessary steps to ensure that such information is deleted from our system's database. Anyone under the age of thirteen (13) must seek and obtain parent or guardian permission to use The Websites.
                                </p>
                                 <p>
<strong>Unsubscribe or Opt-Out</strong>
<br/>
We do not currently allow users the ability sign-up or register to receive emails.  Further to this, we do not collect, nor do we have the ready ability to collect, email addresses from users, unless that email address or other user information is provided through the <a href="http://www.customsmobile.com/about.html">contact form</a>.  In such cases, we our communication will only utilize the information you have provided, and will be in some manner a response or followup to your contact. If you are receiving mail from the The Websites' domains and it does not fit the above criteria, it is likely a spoofed return email address.  While we may not be able to resolve this matter, we would like to be aware of this occurence, as we may attempt to investigate and pursue action.  Please contact us by phone at <a href="tel:202-595-8998">(202) 595-8998</a> or through the <a href="http://www.customsmobile.com/about.html">contact form</a>.
<!-- All users and/or visitors to The Websites have the option to discontinue receiving communication from us and/or reserve the right to discontinue receiving communications by way of email or newsletters. To discontinue or unsubscribe to our website please send an email that you wish to unsubscribe through the webmail form located at http://www.customsmobile.com/static/about.html. If you wish to unsubscribe or opt-out from any third party websites, you must go to that specific website to unsubscribe and/or opt-out. -->

                                </p>
                                
                                 <p>
                                   <strong>Links to and Content of Other Web Sites</strong>
<br/>
The Websites do contain links to and content of independent, third party websites<!-- affiliate and other websites -->. In particular, The Websites make heavy use of data from U.S. Customs & Border Protection (http://www.cbp.gov) and U.S. ITC (http://www.usitc.gov).
<p>
Each time a user performs a search of The Websites through the integrated search forms, R.I. Diversified relays this request to the relevant source website – U.S. Customs & Border Protection (http://www.cbp.gov) and/or U.S. ITC (http://www.usitc.gov), retrieves the relevant data, and presents that data to the requester as contented integrated into The Websites.</p>
<p>
R.I. Diversified has made every effort to design The Websites' search function in such a way that user's information is not relayed to U.S. Customs & Border Protection (http://www.cbp.gov) and/or U.S. ITC. Nevertheless, R.I. Diversified cannot guarantee that a user's information is not transmitted outside of The Websites when the user utilizes The Websites' services.
</p>
<p>
R.I. Diversified does not claim nor accept responsibility for any privacy policies, practices and/or procedures of other such websites or controlling organizations. Therefore, R.I. Diversified encourages all users and visitors to be equally aware when they leave The Websites, as when they use The Websites services, to read the privacy statements of U.S. Customs & Border Protection and U.S. ITC – and each and every website that collects personally identifiable information. The aforementioned Privacy Policy Agreement applies only and solely to the information collected by The Websites.
</p>
                                </p>
                                
                                 <p>
                                    <strong>Security</strong>
<br/>
R.I. Diversified shall endeavor and shall take every precaution to maintain adequate physical, procedural and technical security with respect to our offices and information storage facilities so as to prevent any loss, misuse, unauthorized access, disclosure or modification of the user's personal information under our control. 
                                </p>
                                
                                 <p>
<strong>Changes to Privacy Policy Agreement</strong>
<br/>
R.I. Diversified reserves the right to update and/or change the terms of our privacy policy, and as such we will post those change to our website privacy pages on customsmobile.com and customscentral.us, so that our users and/or visitors are always aware of the type of information R.I. Diversified collects, how it will be used, and under what circumstances, if any, we may disclose such information. If at any point in time R.I. Diversified decides to make use of any personally identifiable information on file, in a manner vastly different from that which was stated when this information was initially collected, the user or users shall be promptly notified by email. Users at that time shall have the option as to whether or not to permit the use of their information in this separate manner. 
                                </p>
                          
                               
                                                                 <p>
 <strong>Acceptance of Terms</strong>
<br/>
Through the use of this website, you are hereby accepting the terms and conditions stipulated within the aforementioned Privacy Policy Agreement. If you are not in agreement with our terms and conditions, then you should refrain from further use of our sites. In addition, your continued use of our website following the posting of any updates or changes to our terms and conditions shall mean that you are in agreement and acceptance of such changes. 
                                </p>
                                
                                                                 <p>
<strong>How to Contact Us</strong>
<br/>
If you have any questions or concerns regarding the Privacy Policy Agreement related to our website, please feel free to contact us through the following methods.
<p>
<i class="fa fa-envelope"></i>  Email: <a href="http://www.customsmobile.com/about.html">Contact page</a>
</p>
<p>
<i class="fa fa-phone"></i> Phone: <a href="tel:202-595-8998">(202) 595-8998</a>
</p>
<p>
<i class="fa fa-building"></i> Mailing Address:
<br/>
R.I. Diversified, LLC
<br/>
50 Sutton Place South, Ste. 14A
<br/>
New York, NY 10022
</p>
</p>
</p>
   <p> &nbsp; </p>
              <p>Last updated: 31 January, 2015</p>
</div>
</div>
</div>
</div>
{% end %}
