{% extends "_base_static.html" %} 
{% block static_content_file %}
<div class="col-xs-12 main_container padding-zero-tp">
               
                    <div class="row">
                        <div class="col-xs-12 list_box dark_color">
                            <div class="col-xs-12 abt padding_zero">

We are proud to announce that we have completed the code design of 19 CFR mobile.  <br /><br />The code will be undergoing final testing from Wednesday, November 5 until Friday, November 7, to ensure that our users have a smooth, effective, and enjoyable 19 CFR mobile experience.  We anticipate launching 19 CFR mobile between post-EOB Friday, November 7 and start of business Monday, November 10.  The launch will be published on our <a href="https://www.facebook.com/pages/CustomsMobile/559630777516593" target="_blank">Facebook</a> and <a href="https://twitter.com/CustomsMobile" target="_blank">Twitter</a> pages (don't forget to like / follow us!).<br/><br/>We are excited about bringing you this section of CustomsMobile!

</div>
</div>
</div>
</div>
{% end %}
