 {% extends "_base_static.html" %} 
{% block static_content_file %}
<div id="fb-root">
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  <div class="main_container padding-zero-tp clearfix">
	<div class="col-xs-12 list_box dark_color">
			<div class="fb-like-box" data-href="https://www.facebook.com/pages/CustomsMobile/559630777516593" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-height="600" data-show-border="true">
				This page may take several seconds to load.  If it does not load, you likely either have javascript disabled, or a Facebook blocking plugin installed in your browser.  In that case, please visit our Facebook page for all news and updates concerning CustomsMobile.
			</div>
		</div>
</div> 
{% end %} 
