<div class="col-xs-12 main_container padding-zero-tp">
2014 HTSA Rev. 1 (2014-07-01)
	<div class="row abt">

	    {% if 'error' in result %}
	        {{result['error']}}
	    {% end %}
	    {% if 'results' in result %}
	    {% for item in result['results'] %}
	    <div class="col-xs-12 htsus_box list_box">
	       <h3> <a href="#">{{item[0][0]}}:</a> {{item[0][1]}} </h3>
	        <ul class="list-group">
	            {% for chapter in item[1:] %}
	            <li class="list-group-item"><a href="{{chapter[1]}}">{{chapter[0]}}</a>	{{chapter[2]}}</li>
	            {% end %}
	        </ul>
	        
	    </div>
	    {% end %}
	    {% end %}
	    {% if 'searchResults' in result %}
	    <div class="col-xs-12 htsus_box list_box">
	       <h3> Search results: </h3>
	        <ul class="list-group">
	            {% for item in result['searchResults'] %}
	            <li class="list-group-item"><a href="{{item['link']}}">{{item['name']}}</a> {{item['match']}}</li>
	            {% end %}
	        </ul>
	        
	    </div>
	    {% end %}
	</div>
</div>

