{% extends "../base.html" %} 
{% block content %}
{% import math %}
<script type="text/javascript" language="javascript">
	$('#subcaption');
</script> 
<div class="container">
	<div class="row">
		<form action="{{ usitc_url }}" name='frm' method="post">
		
			<!-- USITC Header BEGIN ========================================= -->
			{% include "usitc_header.html" %}
			<!-- USITC Header END =========================================== -->

			<!-- USITC Doc Result BEGIN ========================================= -->
			{% include "usitc_doc_result.html" %}
			<!-- USITC Doc Result END =========================================== -->

		</form>
	</div>
</div>
<!-- FONT RESIZE FUNCTION -->
<div style="display:none" id="font_size_attributes">.abt tr,td</div> <!-- DO NOT TOUCH -->

<script type="text/javascript" language="javascript">
	$("#href_res").attr('href','/usitc');
</script>
{% end %}
