<div class="col-xs-12 blue_bar">
	<div class="row">
	    <div class="col-xs-9 form-inline search_bar">
	    	<div class="row">
	    		<div class="form-group col-xs-6">
	    			<input type="search" class="form-control search_text" id="exampleInputPassword2" value="{{ search_expression }}" placeholder="Search" name="qu">
	    			<span class="search_icon"><i class="fa fa-search"></i></span>
	            </div>
	         	<div class="form-group col-xs-6 input-group padding_zero">
	              	<button type="submit" name="go" class="btn btn-default btn-black_new"> GO </button>
	            	<button type="submit" name="chapters_references" class="btn btn-default btn-black_new">CHAPTER LIST</button>
	         	</div>
	       </div>
	    </div>
	    <div class="col-xs-3 back_btn text-right">
	        <a id="href_res" style='cursor: pointer;' href="javascript: history.go(-1)"> <i class="fa fa-angle-left"></i> Back </a>
	    </div>
	</div>
</div>
