{% extends "../base.html" %} 
{% block meta_tag %}
        <title>CustomsMobile - HTSUS</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        Remmed out the above, since the below 2 lines prevent pinch-to-zoom, since we now have icons to +/- font size 
-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="description" content="CustomsMobile HTSUS consists of Chapters 1 through 97 of the Harmonized Tariff Schedule of the United States (HTSUS), providing the duty rate and Free Trade Agreement information of imported goods, for proper classification of all imports.">
{% end %}
{% block content %}
{% import math %}

<div class="container">
	<div class="row">
		<form action="{{ usitc_url }}" name='frm' method="post">

			<!-- USITC Header BEGIN ========================================= -->
			{% include "usitc_header.html" %}
			<!-- USITC Header END =========================================== -->

			<!-- USITC List BEGIN ========================================= -->
 			{% include "usitc_list.html" %}
			<!-- USITC List END =========================================== -->

		</form>
	</div>
</div>
<!-- FONT RESIZE FUNCTION -->
<div style="display:none" id="font_size_attributes">.abt li,h3</div> <!-- DO NOT TOUCH -->
{% end %}
