<div class="col-xs-12 main_container padding-zero-tp">
	<div class="row abt" style="background-color: white;"><br>
		<div class="abt">			
  			<table class="table-striped table-bordered abt" >
<!--    			<thead>
		          <tr>
		            <th>Heading/ SubHeading</th>
		            <th>Stat Suffix</th>
		            <th>Article Description</th>
		            <th>Unit of Quantity</th>
		            <th>Rates of Duty1 (General)</th>
		            <th>Rates of Duty1 (Special)</th>
		            <th>Rates of Duty2</th>
		          </tr>
        		</thead> -->

                        <thead>
                          <tr>
                            <th rowspan="2" style="vertical-align: bottom;">Heading / SubHeading</th>
                            <th rowspan="2" style="vertical-align: bottom;">Stat Suffix</th>
                            <th rowspan="2" style="vertical-align: bottom;">Article Description   </th>
                            <th rowspan="2" style="vertical-align: bottom;">Unit of Quantity</th>
			    <th colspan="3" td style="text-align:center; vertical-align: bottom;">Rates of Duty<br></th></tr>
                           <tr> <td style="white-space: nowrap; font-weight: bold; vertical-align: bottom;">1-General</td>
                            <td style="white-space: nowrap; font-weight: bold; vertical-align: bottom;">1-Special</td>
                            <td style="white-space: nowrap; font-weight: bold; vertical-align: bottom;">2</td>
                          </tr>
                        </thead>

        		<tbody>
          			{% raw content %}
        		</tbody>
  			</table>
		</div><br>	
	</div>
</div>
