<div class="col-xs-12 main_container">
	<div class="row abt">
		{% if 'error' in result %}
			{{result['error']}}
		{% end %}
		{% if 'results' in result %}
			<div class="col-xs-12">					
				<input style="display: none;" id="go_button" name="go" type="image">
				<input style="display: none;" id="prev_button" name="prev" type="image">
				<input style="display: none;" id="next_button" name="next" type="image">
				<input style="display: none;" id="end_button" name="end" type="image">
            	<!-- CSMS List Navigator BEGIN ========================================= -->
            	{% include "csms_list_nav.html" %}
				<!-- CSMS List Navigator END =========================================== -->
			</div>
			
			<!-- CSMS List Result BEGIN ========================================= -->
			{% include "csms_list_result.html" %}
			<!-- CSMS List Result END =========================================== -->
			
			<div class="col-xs-12 margin-tp">
        		<!-- CSMS List Navigator BEGIN ========================================= -->
				{% include "csms_list_nav.html" %}
				<!-- CSMS List Navigator END =========================================== -->
			</div>
		{% end %}
	</div>
</div>
<div id="list_flag"></div> <!-- DO NOT TOUCH -->
