{% for item in result['results'] %}
	<div class="col-xs-12 list_box">
		<div class="col-xs-11 padding_zero">
			<ul class="list-inline">
				<li> <a class="link-s" href="{{item['link']}}"> {{item['id']}} </a> </li>
				<li> <i class="fa fa-calendar"></i> {{item['date']}} </li>
				<li> <i class="fa fa-star-o"></i> </li>
				<li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
			</ul>
			<ul class="list-inline border-bottom">
				<li> Group: {{item['group']}} </li>
				<li> Related: {% raw item['related'] %} </li>
			</ul>
			<p> <b>{{item['title']}}</b><br/>
			{% raw item['desc'] %} </p>
		</div>
		<div class="col-xs-1 padding_zero text-right">
			<h1>
				<a href="{{item['link']}}"> <i class="fa fa-angle-right"></i> </a>
			</h1>
		</div>
	</div>
{% end %}         

