<div id="doc_container" class="col-xs-12">
	{% if 'error' in result %}
		{% raw result['error'] %}
	{% end %}
	{% if 'error' not in result %}
		<div class="row abt">
			<div class="col-xs-12 list_box">
				<div class="col-xs-12 inner_page padding_zero">
					<ul class="list-inline">
						<li id="caption"> <a class="link-s" href="#"> {{result['id']}} </a> </li>
						<li id="date"> <i class="fa fa-calendar"></i> {{result['date']}} </li>
						<li> <i class="fa fa-star-o"></i> </li>
						<li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
					</ul>
					<ul class="list-inline border-bottom">
						<li> To :  {{result['group']}}</li>
					</ul>
					<b class="abt">Title :  {{result['title']}}</b>
					<pre class="abt" style="white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;white-space: pre-wrap;word-break: normal;">{% raw result['content'] %}</pre>
				</div>
			</div>
		</div>
	{% end %}
</div>
