{% extends "../base.html" %} 
{% block meta_tag %}
<title>CustomsMobile - Notices</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        Remmed out the above, since the below 2 lines prevent pinch-to-zoom, since we now have icons to +/- font size 
-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />
<meta name="description" content="CustomsMobile Notices is a complete and mobile friendly database of CSMS messages issued by U.S. Customs & Border Protection (CBP). CSMS messages notify Customs Brokers, Freight Forwarders, ACE filers and users, Air Carriers, Ocean Carriers, and Truck Carriers of CBP rules, announcements, clarifications, and practices.">
<meta name="author" content="CustomsMobile">
{% end %}
{% block content %}
{% import math %}

<div class="container">
	<div class="row">
		<form action="{{ csms_url }}" method="post">

			<!-- CSMS Header BEGIN ========================================= -->
			{% include "csms_header.html" %}
			<!-- CSMS Header END =========================================== -->

			<!-- CSMS List BEGIN ========================================= -->
 			{% include "csms_list.html" %}
			<!-- CSMS List END =========================================== -->

		</form>
	</div>
</div>
<!-- FONT RESIZE FUNCTION -->
<div style="display:none" id="font_size_attributes">.abt,.list_box li,p</div> <!-- DO NOT TOUCH -->

<script src="/static/store_csms.js"></script>  
<div style="display:none" class="ghost"></div> <!-- DO NOT TOUCH  -->
{% end %}
