<div class="col-xs-12 blue_bar">
	<div class="row">
		<div class="col-xs-9 form-inline search_bar">					
			<div class="form-group col-xs-6">
				<input type="search" class="form-control search_text" name="qu" value="{{ search_expression }}" placeholder="Search">
				<span class="search_icon"><i class="fa fa-search"></i></span>
			</div>
			<div class="form-group col-xs-4">
				<div class="row">
					<select name="btype" class="form-control select_box">
						<option value="" {% if btype == "" %} selected ="" {% end %}>All</option>
						<option value="abi" {% if btype == "abi" %} selected ="" {% end %}>Automated Broker Interface</option>
						<option value="acee" {% if btype == "acee" %} selected ="" {% end %}>ACE Outreach Events</option>
						<option value="acep" {% if btype == "acep" %} selected ="" {% end %}>ACE Portal Accounts</option>
						<option value="acer" {% if btype == "acer" %} selected ="" {% end %}>ACE Reports</option>
						<option value="air" {% if btype == "air" %} selected ="" {% end %}>Air Manifest</option>
						<option value="cue" {% if btype == "cue" %} selected ="" {% end %}>Cuentas en el Portal de ACE (Spanish)</option>
						<option value="ocean" {% if btype == "ocean" %} selected ="" {% end %}>Ocean Manifest</option>
						<option value="partner" {% if btype == "partner" %} selected ="" {% end %}>Partner Government Agencies</option>
						<option value="rail" {% if btype == "rail" %} selected ="" {% end %}>Rail Manifest</option>
						<option value="tran" {% if btype == "tran" %} selected ="" {% end %}>Transportistas de Camion (Spanish)</option>
						<option value="truck" {% if btype == "truck" %} selected ="" {% end %}>Truck Manifest</option>
					</select>
				</div>
			</div>
			<div class="form-group col-xs-2 padding_zero">
				<button name='go' type="submit" class="btn btn-default btn-black">GO</button>
			</div>					
		</div>
		<div class="col-xs-3 back_btn text-right">
			<a style='cursor: pointer;' href="javascript: history.go(-1)"> <i class="fa fa-angle-left"></i> Back </a>
		</div>
	</div>
</div>
<div class="col-xs-12 white_bar">
	<div class="row">
		<div class="col-xs-8">
			<label>Sort:</label>
				<select name="sortby" class="form-control blue-bg select_box">
					<option value="date_published" {% if sortby=="date_published" %} selected {% end %}>Date</option>
					<option value="Seq_Msg_Num" {% if sortby=="Seq_Msg_Num" %} selected {% end %}>CSMS</option>
					<option value="title" {% if sortby=="title" %} selected {% end %}>Title</option>
				</select>
		</div>
		<div class="col-xs-4">
			<ul class="nav navbar-nav navbar-right text-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-star"></span> Options <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#"><span class="fa fa-eye"></span> Show Starred</a></li>
						<li><a href="#"><span class="fa fa-envelope"></span> Mail Starred</a></li>
						<li><a href="#"><span class="fa fa-trash-o"></span> Clear Starred</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
