{% extends "../base.html" %} 
{% block content %}
{% import math %}
<script type="text/javascript" language="javascript">
<!-- Below used to be: $('#subcaption').html(' - Details'); -->
	$('#subcaption').html;
</script> 
<div class="container">
	<div class="row">
		<form action="{{ csms_url }}" method="post">

			<!-- CSMS Header BEGIN ========================================= -->
			{% include "csms_header.html" %}
			<!-- CSMS Header END =========================================== -->

			<!-- CSMS Doc Result BEGIN ========================================= -->
			{% include "csms_doc_result.html" %}
			<!-- CSMS Doc Result END =========================================== -->

		</form>
	</div>
</div>
<!-- FONT RESIZE FUNCTION -->
<div style="display:none" id="font_size_attributes">.abt,.list_box li,p</div> <!-- DO NOT TOUCH -->

<script src="/static/store_csms.js"></script> 
<div style="display:none" class="ghost"></div> <!-- DO NOT TOUCH    -->
{% end %}
