<div class="col-xs-12 blue_bar">
		<div class="row">
			<div class="col-xs-9 form-inline search_bar">
				<div class="row">
					<div class="form-group col-xs-6">
						<input type="search" class="form-control search_text" name="qu"
							value="{{ search_expression }}" placeholder="Search"> <span
							class="search_icon"><i class="fa fa-search"></i></span>
					</div>
					<div class="form-group col-xs-4">
						<div class="row">
							<select name="ps" class="form-control select_box">
								<option value="10" {% if int(step)==10 %} selected {% end %}>10 Result/page</option>
								<option value="25" {% if int(step)==25 %} selected {% end %}>25 Result/page</option>
								<option value="50" {% if int(step)==50 %} selected {% end %}>50 Result/page</option>
							</select>
						</div>
					</div>
					<div class="form-group col-xs-2 padding_zero">
						<button name='go' type="submit" class="btn btn-default btn-black">GO</button>
					</div>
				</div>
			</div>
			<div class="col-xs-3 back_btn text-right">
				<a style='cursor: pointer;' href="javascript: history.go(-1)"> <i
					class="fa fa-angle-left"></i> Back
				</a>
			</div>
		</div>
	</div>
	<div class="col-xs-12 white_bar">

		<div class="row">
			<div class="col-xs-8">
				<label>Sort:</label>
				<select name="colSort" class="form-control blue-bg select_box">
					<option value="4" {% if int(col_sort)==4 %} selected {% end %}>Rank</option>
					<option value="12" {% if int(col_sort)==12 %} selected {% end %}>Oldest</option>
					<option value="1" {% if int(col_sort)==1 %} selected {% end %}>Newest</option>
				</select>
			</div>
			<div class="col-xs-4">
				<ul class="nav navbar-nav navbar-right text-right">

					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown"><span class="fa fa-star"></span>
							Options <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="fa fa-eye"></span> Show
									Starred</a></li>
							<li><a href="#"><span class="fa fa-envelope"></span>
									Mail Starred</a></li>
							<li><a href="#"><span class="fa fa-trash-o"></span>
									Clear Starred</a></li>
						</ul></li>
				</ul>
			</div>
		</div>

	</div>
