{% block add_css %}
{% end %}
{% for item in result['results'] %}
<div class="col-xs-12 list_box">
    <div class="col-xs-11 padding_zero">
    	<ul class="list-inline">
        	<li> <i class="fa fa-slack"></i> {{item['rank']}} </li>
        	<li><a class="link-s" href="{{item['link']}}"> <i class="fa fa-tag"></i> {{item['id']}} </a></li>
        	<li> <i class="fa fa-calendar"></i> {{ item['date'] }} </li>
        	<li> <i class="fa fa-star-o"></i> </li>
        	<li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
    	</ul>
    	<ul class="list-inline border-bottom">
        	<li> Type: {% raw item['category'] %} &#149; HTSUS: 
        		<a href="#"> {% raw item['tariff_no'] %} </a><br />
        		{% if item['related_revoking_liks'] != "" %}
        		<span style="font-weight: bold" class="revoking_heading">&nbsp;Revoked by:&nbsp;</span>
        		&nbsp;{% raw item['related_revoking_liks'] %}&nbsp;&nbsp;&nbsp;
        		{% end %}
        		
        		{% if item['related_revokes_liks'] != "" %}
        		<span style="font-weight: bold" class="revoked_heading">&nbsp;Revokes:&nbsp;</span>
        		&nbsp;{% raw item['related_revokes_liks'] %}&nbsp;&nbsp;&nbsp;
        		{% end %}

        		{% if item['related_modifying_liks'] != "" %}
        		<span style="font-weight: bold" class="modifying_heading">&nbsp;Modified by:&nbsp;</span>
        		&nbsp;{% raw item['related_modifying_liks'] %}&nbsp;&nbsp;&nbsp;
        		{% end %}        		
        		
        		{% if item['related_modifies_liks'] != "" %}
        		<span style="font-weight: bold" class="modified_heading">&nbsp;Modifies:&nbsp;</span>
        		&nbsp;{% raw item['related_modifies_liks'] %}&nbsp;&nbsp;&nbsp;
        		{% end %}

        		{% if item['related_references_liks'] != "" %}
        		<span style="font-weight: bold" class="referenced_heading">&nbsp;Related:&nbsp;</span>
        		&nbsp;{% raw item['related_references_liks'] %}&nbsp;&nbsp;&nbsp;
        		{% end %}

        	</li>
    	</ul>
    	<p> {{item['ruling_reference']}} </p>
	</div>
    <div class="col-xs-1 padding_zero text-right">
        <h1>
            <a href="{{item['link']}}"> <i class="fa fa-angle-right"></i> </a>
        </h1>
    </div>
</div>
{% end %}         

