{% extends "../base.html" %} 

{% block meta_tag %}
	<title>CustomsMobile - Rulings</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        Remmed out the above, since the below 2 lines prevent pinch-to-zoom, since we now have icons to +/- font size 
-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />
<meta name="description" content="CustomsMobile Rulings is a mobile friendly searchable database of Rulings (administrative decisions) issued by U.S. Customs and Border Protection (CBP).  Rulings are issued on matters that include classification, valuation, Free Trade Agreements, and general entry matters.">
<meta name="author" content="CustomsMobile">
{% end %}

{% block content %}
{% import math %}

<div class="container">
	<div class="row">
		<form action="{{ cross_url }}" method="post">

			<!-- CROSS Header BEGIN ========================================= -->
			{% include "cross_header.html" %}
			<!-- CROSS Header END =========================================== -->

			<!-- CROSS List BEGIN ========================================= -->
			{% include "cross_list.html" %}
			<!-- CROSS List END =========================================== -->

		</form>
	</div>
</div>
<div style="display:none" id="font_size_attributes">.list_box li,p</div> <!-- DO NOT TOUCH -->
<script src="/static/store_cross.js"></script> 
<div style="display:none" class="ghost"></div> <!-- DO NOT TOUCH  -->
{% end %}
