<div id="main_container" class="col-xs-12 main_container">
	<div class="row abt">
		{% if 'error' in result %}
			{{result['error']}}
		{% end %}
		{% if 'results' in result %}

			<div class="col-xs-12">
				<input style="display: none;" id="go_button" name="go" type="image">
				<input style="display: none;" id="prev_button" name="prev" type="image">
				<input style="display: none;" id="next_button" name="next" type="image">
				<input style="display: none;" id="end_button" name="end" type="image">
	            <!-- CROSS List Navigator BEGIN ========================================= -->
			 	{% include "cross_list_nav.html" %}
				<!-- CROSS List Navigator END =========================================== -->
			</div>
	        <!-- CROSS List Result BEGIN ========================================= -->
			{% include "cross_list_result.html" %}
			<!-- CROSS List Result END =========================================== -->
	        
	        <div class="col-xs-12 margin-tp">
	        	<!-- CROSS List Navigator BEGIN ========================================= -->
				{% include "cross_list_nav.html" %}
				<!-- CROSS List Navigator END =========================================== -->
		</div>
		{% end %}
	</div>
</div>
<div id="list_flag"></div> <!-- DO NOT TOUCH -->
