<div id="doc_container" class="col-xs-12 ">
{% if 'error' not in result %}               
    <div class="row abt">
        <div class="col-xs-12 list_box">
            <div class="col-xs-12 inner_page padding_zero">
                <ul class="list-inline">
                    <li><a id="header_doc_id" class="link-s" href="#"> <i class="fa fa-tag"></i> {{result['id']}}</a></li>
                    <li id="header_calendar"> <i class="fa fa-calendar"></i> {{result['date']}} </li>
                    <li> <i class="fa fa-star-o"></i> </li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                </ul>
                <ul class="list-inline border-bottom">
                     <li> Type : {{result['category']}} &#9679; HTSUS : {% raw result['tariff_no'] %} </li>
                </ul>
                <p>{% raw result['content'] %}</p>
            </div>
        </div>
    </div>
{% else %}
    {% raw result['error'] %}
{% end %}
</div>
