{% extends "../base.html" %} 
{% block content %}
{% import math %}
<script type="text/javascript" language="javascript">
	$('#subcaption').html;
</script> 
<div class="container">
	<div class="row">
		<form action="{{ cross_url }}" method="post">

			<!-- CROSS Header BEGIN ========================================= -->
			{% include "cross_header.html" %}
			<!-- CROSS Header END =========================================== -->

			<!-- CROSS Doc Result BEGIN ========================================= -->
			{% include "cross_doc_result.html" %}
			<!-- CROSS Doc Result END =========================================== -->

		</form>
	</div>
</div>
<!-- FONT RESIZE FUNCTION -->
<div style="display:none" id="font_size_attributes">.abt,.list_box li,p</div> <!-- DO NOT TOUCH -->

<script src="/static/store_cross.js"></script> 
<div style="display:none" class="ghost">
	<div class="col-xs-12 list_box abt">
		<div class="col-xs-11 padding_zero">
                  <ul class="list-inline">
                      <li><a id="doc_id" class="link-s" href=""><i class="fa fa-tag"></i></a></li>
                      <li id="date" ><i class="fa fa-calendar"> </i></li>
                      <li> <i class="fa fa-star"></i> </li>
                      <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                  </ul>
                  <ul class="list-inline border-bottom">
                      <li id="category"></li>
                      <li id="related"></li>
                  </ul>
                  <p id="ruling_reference"></p>
              </div>
              <div class="col-xs-1 padding_zero text-right">
                      <h1>
                          <a href=""> <i class="fa fa-angle-right"></i> </a>
                      </h1>
              </div>
          </div>
   </div> <!-- DO NOT TOUCH  -->
{% end %}
