<ul class="nav nav-pills pagination_list">
	{% if int(current_page)>1 %}<li><a onclick="document.getElementById('go_button').click();">Start</a></li>{% end %}
	{% if int(current_page)>1 %}<li><a onclick="document.getElementById('prev_button').click();">Prev</a></li>{% end %}
	{% if int(current_page)<int(math.ceil(float(records)/float(step))) %}<li><a onclick="document.getElementById('next_button').click();">Next</a></li>{% end %}
	{% if int(current_page)<int(math.ceil(float(records)/float(step))) %}<li><a onclick="document.getElementById('end_button').click();">End</a></li>{% end %}
</ul>
<span style="vertical-align:middle;"> Pg. {{ current_page }} of {{ int(math.ceil(float(records)/float(step))) }} &#8226; {{ records  }} results
</span>
<!-- This provides the # of results we're on {{ diapason }} -->
