a       {font-family: Arial, Helvetica, sans-serif; color: #0000CC; text-decoration: underline; font-size: 9pt;}
a:hover {font-family: Arial, Helvetica, sans-serif; color: #000066; text-decoration:underline; font-size: 9pt;}
body {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; color: #333333}
.byline {  color: #000066; font-family: Verdana, Helvetica, sans-serif; text-transform: uppercase; font-weight: bold; font-size: 10px; }
.detail_body {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #000000}
.error_message {  font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #666666}

.footer_utility_nav  {color: #ffffff;font-family: Verdana, Helvetica, sans-serif; font-weight: bold; font-size: 10px; }  
.footer_utility_nav a {color: #ffffff;font-family: Verdana, Helvetica, sans-serif; font-weight: bold; font-size: 10px; text-decoration:none; }  
.footer_utility_nav a:hover { color:#cccccc;font-family: Verdana, Helvetica, sans-serif; font-weight: bold; font-size: 10px; text-decoration:none;} 
.footer_utility_nav a:active { color:#cccccc;}
.footer_utility_nav a:focus { color:#cccccc;}

.heading_1 {  font-family: Verdana, Helvetica, sans-serif; font-size: 14pt; font-weight: normal; color: #FFFFFF}
.heading_2 {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF}
.results {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #000000; }
.heading_help {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #333333}

.highlight_green {  background-color: #66FF66}
.highlight_blue {  background-color: #CCCCFF}
.highlight_yellow {  background-color: #FFFF66}
.modifying_heading {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #333333}
.modified_heading {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #000000; background-color: #FFFF66}
.PageLink { font-family: Verdana, Helvetica, sans-serif; font-size: 10pt; font-style: normal; color: #0000CC; text-decoration: underline; font-weight: bold}
.PageLink:hover { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; color: #FFFFFF; text-decoration: none ; font-weight: bold; background-color: #4F41CF}
.PageDigit { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; color: #FFFFFF; text-decoration: none ; font-weight: bold; background-color: #4F41CF}
.pageCountHeader { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; color: #FFFFFF; text-decoration: none ; font-weight: normal}
.printer { font-family: "Times New Roman", Times, serif; font-size: 12pt; background-color: #FFFFFF}
.revoked_heading {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #FFFFFF; background-color: #CC0000}
.referenced_heading {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #333333}
.revoking_heading {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #333333}
.row_col_1 {  background-color: #FFFFFF; color: #333333; border: 1px #cccccc solid}
.row_col_2 {  background-color: #CCCCCC; color: #333333;  border: 1px #ffffff solid}
.row_header {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF; background-color: #000066}
.ruling_title {font-family: Arial, Helvetica, sans-serif; font-weight: bold; color: #000000;font-size: 12pt}
.subtitle {  color: #ffffff; font-family: Verdana, Helvetica, sans-serif; font-weight: bold; font-size: 10px; } 
table {  font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; color: #333333}
.title {  color: #ffffff; font-family: Verdana, Helvetica, sans-serif; font-weight: bold; font-size: 16px; } 
table.main { font-family:Arial, Helvetica, sans-serif; background-color:#666666; }

.help_nav_selected {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight: bold; color: #FFFFFF; background-color: #009900}
.help_sub_nav { font-family: Verdana, Arial, Helvetica, sans-serif; color: #0000CC; text-decoration: underline; font-size: 8pt; }
.help_sub_nav:hover { font-family: Verdana, Arial, Helvetica, sans-serif; color: #000066; text-decoration:underline; font-size: 8pt; }
.help_nav { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF; text-decoration: none; background-color: 006600}
.help_nav:hover { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF; background-color: 009900; text-decoration: none}

.subtitle_gov{
	color:#006600;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:small;
	font-weight: bold;
	line-height : 30px;
} 
.subhead{
	color:#006600;
	font-family:Verdana, Helvetica, sans-serif;
	font-size:x-small;
	font-weight:bold;
	line-height : 30px;
} 
.article_title{         color:#003300; font-family:Verdana, Helvetica, sans-serif;         font-size: medium; font-weight:bold; } 
.basic {  font-family: Verdana, Helvetica, sans-serif; font-size: 10pt; font-weight: normal; color: #333333}

#footer {

border-top:1px dotted #c0c0c0;

                font-family:Arial,Helvetica, sans-serif;

                padding: 20px;

                padding-top:10px;

                margin-right:5%;

                margin-left:5%; text-align:right;

}

#footer a.footerLinks{

font-family:Verdana,Tahoma, sans-serif;

                text-decoration:underline;

                padding-right:2%;

                padding-left:2%;

                border-left:1px solid #808080;

 

}

#footer a.footerLinks:first-child{

 

                border-left:0px solid #808080;

}

.title {
color: #234B92;
font-family: Verdana, Helvetica, sans-serif;
font-weight: bold;
font-size: 16px;