/*
theme Name: Custom Mobile
theme Uri: http://www.custommobile.com/
author: Aspricot
author Uri: Http://aspricot.com/
description: The Default Theme For http://www.custommobile.com/
*/

@charset "utf-8";
@import Url("css/bootstrap_index.css");
@import Url("css/font-awesome.min.css");



html {
    height: 100%;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale !important;
}
body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    color: #333333;
    position: relative;
}


/* #Our Default CSS
================================================== */

div,ul,li,a,input,img,select,textarea,input[type="submit"],header,footer,span, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, 
caption, canvas, center, cite, code, dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, 
sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video {
    font-size: 100%;
    vertical-align: baseline;
    white-space: normal;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: :.2s;
    -o-transition: .2s;
    text-decoration: none !important;
}
p {
    letter-spacing: .6px;
    line-height: 1.5;
    text-shadow: none;
    font-size: 14px;
}
.fl-left {
    float: left !important;
}
.fl-right {
    float: right !important;
}
.no-margin {
    margin: 0px !important;
}
.no-padding {
    padding: 0px !important;
}
.no-display {
    display: none;
}
a:hover {
    color: #0547a0;
    text-decoration: none;
    -webkit-transition: .2s;
    -moz-transition: :.2s;
    -o-transition: .2s;
}
a:focus {
    outline: none !important;
}


.red {
    color: rgba(255, 0, 0, 1);
}


/* #Section-1 Header
================================================== */
.container.head-bg {
padding: 0px;
}

.header {
    width: 100%;
    float: left;
}

.head-bg img {
    width: 100%;
    float: left;
    max-width: 100%;
}


/* CCB: with old logo, margin-top used to be set at: -60% */
.logo img {
    width: 100%;
    float: left;
    margin-top: -150%;
    margin-bottom: 85px;
}
.shadow {
    box-shadow:0px 0px 1px 0px #aaaaaa;
    padding: 0px;
    width: 100%;
    float: left;
}
/* CCB: with old logo, margin-top used to be set at-40% */
@media (max-width: 768px) {
.logo img {
    width: 100%;
    float: left;
    margin-top: -120%;
    margin-bottom: 60px;
}
}



/*
///////////////////////////////////////
Menu Left
//////////////////////////////////////
*/


.nav-left {
    position: fixed;
    right: -260px;
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
}
.nav-left.menu-open {
    right: 0;
}
.menu-wrap {
    position: absolute;
    top: 0;
    left: 60px;
    background: #054aa6;
    width: 200px;
    height: 100%
}
.menu-wrap h3 {
color: #FFF;
text-align: center;
width: 180px;
margin-top: 70px;
}
.nav-left h1.logo a {
    font-weight: 800;
    letter-spacing: .15em;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    margin-left: 0px;
    text-align: center;
}

h1.logo {
width: 280px;
}
.nav-left .logo img {
    float: none;
}
.nav-left h1.logo a:hover {
    color: #1abc9c;
}
.nav-left img.logo {
    margin: 20px 0;
    max-width: 160px;
    display: inline-block;
}

.nav-left ul {
list-style: none;
padding: 10px 0px;
margin: 0px;
margin-top: 60px;
float: left;
width: 100%;
}

    .nav-left li {
padding: 3px 5px;

-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.nav-left li:hover,
.nav-left li.active {
border-left: 5px solid #2F9BFF;
background: rgba(0,0,0,.3);

-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}
.nav-left a {
    margin-left: 20px;
    color: #FFF;
    display: block;
    font-size: 85%;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: .1em;
    text-transform: uppercase;
    
}
.nav-left a:hover {
    text-decoration: none;
    color: #fff;
}
.nav-left a:active {
    color: #fff;
}
.nav-left li.dropdown ul.dropdown-menu{
    display: none;
    margin-top: 0px;
}

.nav-left li.dropdown:hover ul.dropdown-menu{
    display: block;    
}
.nav-left  ul.dropdown-menu li:hover {
    border: 0px;
}
.nav-left  ul.dropdown-menu li a:hover {
    background: none;
}
.nav-left a>i {
    float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 25px;
    font-size: 20px;
    line-height: 40px;
    margin: 0px 5px;
}

.menu-close {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 24px;
    color: #FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 5px;
    right: 15px;
    text-align: center;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/* CCB added for social media in navigation pane START */
.facebook {
    cursor: pointer;
    display: block;
    position: absolute;
    font-size: 20px;
    color: #FFF;
    width: 40px;
    height: 40px;
/*     line-height: 730px; */
/* Below changed from 365 */
    top: 5px;
    right: 140px;
    text-align: center;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.twitter {
    cursor: pointer;
    display: block;
    position: absolute;
/* Below changed from 24px */
    font-size: 20px;
    color: #FFF;
    width: 40px;
    height: 40px;
/*    line-height: 730px; */
/* Below changed from 365px */
    top: 5px;
    right: 105px;
    text-align: center;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

/* CCB added for social media in navigation pane END */

.menu-close:hover {
    color: gray;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
.body-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}

.nav-left, .body-push {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
#menuToggle {
    position: absolute;
    top: 1px;
    right: 4px;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 90%;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}
#menuToggle:hover {
    color: #fff;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

#menuToggle .fa {
    line-height: 40px;
}

.search_box {
    height: 40px;
     border-right: 0px;
}

.search-btn {
    border-left: 0px;
font-size: 20px;
padding: 5px 10px;
}
@media (min-width: 992px) {
    #menuToggle.active {
        display: none;
    }
}




/* # Navigation
================================================== */


.navigation-section {
    width: 100%;
    float: left;
}

.navigation-section ul {
    padding: 0px;
    margin-left: 0px;
    width: 100%;
    display: block;
    text-align: center;
    list-style: none;
}

.navigation-section ul li {
    display: inline-block;
    padding: 15px;
    margin: 10px;
    width: 25%;
    text-align: center;
    border: 2px solid #FFF;
    border-radius: 5px;
}

.navigation-section ul li a {
    font-size: 18px;
    color:#000;
    text-transform: uppercase;
}
.navigation-section ul li a .fa {
    font-size: 46px;
    display: block;
}

.navigation-section ul li:hover,
.navigation-section ul li.active{
    border:2px solid #0547a0;
}
.navigation-section ul li:hover a,
.navigation-section ul li.active a{
    color:#0547a0;
}




@media (max-width: 992px) {
 .navigation-section ul li {
    display: inline-block;
    padding: 15px;
    margin: 5px 0px;
    width: 15%;
    text-align: center;
}
.navigation-section ul li a {
    font-size: 18px;
    color:#000;
}
.navigation-section ul li a .fa {
    font-size: 32px;
    display: block;
}
.navigation-section ul li a {
    font-size: 10px;
    color:#000;
    text-transform: uppercase;
}
.nav-left ul {
    margin-top: 30px;
}
.body-push-toright {
    left: 200px;
}
.body-push-toleft {
    left: -200px;
}
}
@media (max-width: 500px) {
    .navigation-section ul li {
    display: inline-block;
    padding: 5px 0px;
    margin: 5px 0px;
    width: 30%;
    text-align: center;


}
}

/* #Inner Page
================================================== */
.top_bar {
    background: #3F3F3F;
}

.top_bar h1 {
margin-top: 12px;
font-size: 18px;
margin-bottom: 10px;
color: #FFF;
text-transform: uppercase;
}


.top_bar select {
    padding: 3px 10px;
margin: 3px 0px;
margin-top: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
background: #f8f8f8;
font-weight: 300;
color: #333;
font-size: 12px;
border: none;
outline: none;
display: inline-block;
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
-webkit-appearance: none;
appearance: none;

    text-indent: 0.01px;
    text-overflow: "";
cursor: pointer;
width: 83%;
}


.top_bar select::-ms-expand {
	display: none; /* to ie 10 */
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .top_bar select {padding-right:18px}
}

.top_bar label {position:relative; margin-right: 35px;}
.top_bar label:after {
    content:'\f0d7';
    font-family: FontAwesome;
    color:#333;
    right:8px; 
    top:12px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}

@-moz-document url-prefix() {
    .top_bar select {
        -moz-appearance: none;
    }
    .top_bar label:after {
        content:'';
    }
}

/* Blue_bar
================================================== */

.blue_bar {
    background: #054aa6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-inline .form-group {
display: inline-block;
margin-bottom: 0;
vertical-align: middle;
}

.blue_bar .search_text {
   padding-left: 25px;
    position: relative;
    box-shadow: 0px 0px 0px;
    border: 0px;
    height: 24px;
    font-size: 11px;
}
.blue_bar .search_icon {
    position: absolute;
top: 4px;
left: 20px;
font-size: 12px;
color: #999;
}
.select_box {
height: 24px;
border: 0px;
box-shadow: none;
font-size: 11px;
padding: 4px;
}
.search_bar {
    font-size: 17px;
    color: #222;
}
.btn-black {
color: #FFF;
background-color: #000;
border-color: #000;
padding: 2px 8px;
height: 24px;
margin: 0px;
border: 0px;
margin-left: -3px;
margin-top: -2px;
border-radius: 0px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
font-size: 12px;
}

.btn-black_new {
color: #FFF;
background-color: #000;
border-color: #000;
padding: 2px 8px;
height: 24px;
margin: 0px;
border: 0px;
margin-right:15px;
border-radius: 0px;
font-size: 12px;
}

.btn-black_new:last-child {
    margin-right: 0px;
}

@media (max-width: 480px) {
    .btn-black_new {
        margin-right: 3px;
    }
}


.back_btn a {
    color:#FFF;
    font-size: 12px;
}
.back_btn {
    padding-left: 0px;
}
.back_btn .fa {
    font-size: 24px;
    vertical-align: top;
}

.white_bar {
    background: #FFF;
    z-index: 9;
    box-shadow: 0px 2px 2px -1px #999;
}

.white_bar label,
.blue_bar label {
   display: inline-table;
float: left;
line-height: 25px;
margin-top: 10px;
margin-bottom: 10px;
font-size: 12px;
}

.blue_bar label {
    color:#FFF;
    margin-top: 0px;
    margin-bottom: 0px;
}

.blue-bg {
    background:#054aa6;
    color: #FFF;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    margin-left: 10px;
    float: left;
    padding: 4px;
}
.blue_bar .blue-bg {
    background: #FFF;
    color: #333;
    margin-top: 0px;
    margin-bottom: 0px;
}
.white_bar .navbar-nav > li > a {
    padding: 16px 5px;
    margin: 0px;
    border-radius: 0px !important;
    font-size: 12px;
}
.white_bar .navbar-nav {
    margin-bottom: 0px;
    border-bottom: 0px;
    margin-top: 0px;
}
.white_bar .nav-tabs > li {
float: right;
border-radius: 0px !important;
}
.nav-tabs > li.active,
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #eeeeee;
border: 0px;
}

.navbar-nav > li > .dropdown-menu {
    font-size: 12px;
    background-color: #eee;
    right: 0px;
    left: auto;
    font-size: 12px;
    border: 0px;
    box-shadow: 0px 1px 2px 0px #999;
}
.dropdown-menu > li > a {
    text-align: left;
    padding-left: 15px;
    color: #333;
    font-size: 11px;
}
.dropdown-menu > li > a .fa {
    margin-right: 5px;
}
@media (max-width: 767px) {
.navbar-nav .open .dropdown-menu {
position: absolute;
float: none;
width: auto;
margin-top: 0;
background-color: #eee;
right: 0px;
left: auto;
font-size: 12px;
box-shadow: 0px 1px 2px 0px #999;
border-top: 0px;
width: 100%;
min-width: 1px;
}
}
.white_bar .fa-star {
    color: #ffae00;
    margin:0px 5px;
}

.main_container {
    background: #ebebeb;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

.main_container span {
    font-size: 12px;
    font-weight: 500;
    display: inline-table;
}

.pagination_list {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.nav-pills > li > a {
border-radius: 3px;
padding: 3px 10px;
margin-right: 5px;
font-size: 12px;
border: 1px solid #222;
background: #FFF;
color: #222;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    outline: none;
    background: #054aa6;
    color: #FFF;
}

.list_box {
    margin-top: 10px;
    background: #FFF;
    padding: 10px 15px;
    float: left;
    color: #666666;
    padding-top: 13px;
box-shadow: 0px 2px 2px -2px #999;
}
.padding_zero {
    padding-left: 0px;
    padding-right: 0px;
}

.list_box h3 {
font-size: 14px;
}

.list_box ul {
   margin-bottom: 3px;
}
.list_box li {
    font-size: 14px;
    font-weight: 600;
    color:#000;
    display: inline-table;

}
.list_box li .fa-star,
.list_box li .fa-star-o {
    color:#ffae00;
    cursor:pointer;
}
.list_box li .fa-envelope,
.list_box li .fa-envelope-o {
    cursor:pointer;
}
.list_box .border-bottom li {
    font-size: 13px;
    font-weight: 500;
    color: #666;
}
.list_box .border-bottom {
     border-bottom: 1px dotted #222;
     display: inline-block;
     padding-bottom: 5px;
}
.inner_page ul.list-inline.border-bottom {
width: 100%;
}
ul.subject_list {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 30px;
}
.subject_list li {
    font-size: 12px;
    font-weight: 400;
    margin: 3px 0px;
    color: #666;
    display: block;
    
}

.list_box p {
    font-size: 13px;
}
.list_box h1 {
   margin-top: 15px;
   font-size: 40px;
}
.list_box h1 a {
    color: #666666;
}


.list_box .list-group li {
    font-size: 12px;
    font-weight: 400;
    display: block;
}

.padding-zero-tp {
    padding-top: 0px;
}
.padding-zero-tp .list_box:first-child {
    margin-top: 0px;
}
.htsus_box h3 {
    margin-top: 0px;
    line-height: 1.4;
}

ul.list-group li {
    position: relative;
    font-size: 12px;
font-weight: 400;
/* padding-left: 100px; */
}
ul.list-group a {
/* position: absolute;
left: 15px;
float: left;
width: 90px; */
}



@media (max-width: 500px) {
    .blue-bg {
        width: 70%;
    }
    .list_box li {
    font-size: 11px;
    padding-right: 0px;
    padding-bottom: 0px;
    }
    .list_box p {
    font-size: 12px;
}
.list_box .border-bottom li {
        font-size: 11px;
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        display: list-item;
        
}
.select_box {
    font-size: 9px;
}

}

.adv_container {
    width: 100%;
    float: left;
    padding: 0px;
}
.adv_container img {
width: 100%;
left: 0px;
bottom: 0px;
}
/* #Media Query
================================================== */

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 550px) {
.adv_container img {
width: 100%;
position: fixed;
left: 0px;
bottom: 0px;
}
}


.margin-tp {
    margin-top: 20px;
    float: left;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: #FFF;
}

.search-box{
   display: none;
}

.clickable.filter {
    font-size: 18px;
    cursor: pointer;
}

.table > thead > tr > th {
    font-size: 13px;
    vertical-align: top;
}

.table > tbody > tr > td {
font-size: 12px;
}


@media (max-width: 768px) {
.table > thead > tr > th {
    font-size: 12px;
    vertical-align: top;
}

.table > tbody > tr > td {
font-size: 11px;
}

.navbar-nav .open .dropdown-menu > li > a {
line-height: 20px;
padding-left: 10px;
}
}

.table {
    margin-bottom: 5px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
background-color: #eee;
}

.dark_color {
    color: #333;
}

.small-font {
    font-size: 12px;
}

.margin-bt {
    margin-bottom: 15px;
}

.abt p {
    text-align: justify;
}

.font_size_new
{
	float:left;
    width:95%;
	padding:10px 0 0 0;
}

/* CCB Inserted start */

.font_size_new_plusminus_container {
font-size: 100%;
color: white;
height: 20px;
    width: 100px;
    padding: 0px 0 0 0;
    border: 0px solid white;
    margin-top: 10px;
margin-right: 5px;
text-align: center;
float: right;

}

.font_size_new_plusminus {
font-size: 100%;
color: white;
border-radius: 20%;
height: 20px;
    width: 23px;
    padding: 0px 0 0 0;
    border: 1px solid white;
    margin-top: 0px;
margin-right: 5px;
text-align: center;
line-height:1.1em;
float: left;
}

.font_size_new_plus {
font-size: 100%;    
color: white;
    float: left;
height: 20px;
    width: 20px;
    padding: 0px 0 0 0;
    border: 1px solid white;
    margin-top: 10px;
margin-right: 5px;
text-align: center;

}

.font_size_new_minus {
font-size: 75%;
color: white;
    float: left;
height: 20px;
    width: 20px;
    padding: 0px 0 0 0;
    border: 1px solid white;
    margin-top: 10px;
margin-right: 5px;
text-align: center;


}

/* CCB Inserted stop */

/* Mits inserted below to remove language drop down */
.body-push .col-xs-9.text-right select {
  display: none;
}

/* Stop Mits insertion */

/* Mits inserted, CCB updated to change "float:left" to text-align:right", inserted "font-size: 12px" (previouly not included)*/
.footer-link-a { width:100%; text-align: right; font-size:12px;}
.footer-link-a ul li a { margin:0 10px;}
.footer-link-a li {color:#428bca;}
.footer-link-a ul { margin:0; padding:0;}

/* Stop Mits insertion */


/* CCB inserted below to create normal ULs */

.normalUL li {
color:inherit;
display: list-item; 
list-style-type: disc;
font-weight: normal;
}

/* Stop normal ULs */


/* Andrii's CSS for indicating whether rulings are revoked or modified */

        .revoking_heading {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9pt;
                font-weight: bold;
/* Updated Andrii's code below REMming out 1 line, adding 3 lines
 *              color: rgba(0, 0, 0, 0.77); */
                color: #FFFFFF;
                background-color: #FF33CC;
                border-radius: 3px;
                }
        .revoked_heading {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9pt;
                font-weight: bold;
                color: #FFFFFF;
                background-color: #E65959;
                border-radius: 3px;
                }
        .modified_heading {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9pt;
		font-weight: bold !important;
                color: rgba(0, 0, 0, 0.77);
                background-color: #EEEE85;
                border-radius: 3px;
                }
        .modifying_heading {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9pt;
                font-weight: bold !important;
                color: rgba(0, 0, 0, 0.77);
                background-color: #EEEE85;
                border-radius: 3px;
                }
        .referenced_heading {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 9pt;
                font-weight: bold !important;
                color: white;
                background-color: black;
                border-radius: 3px;
                }

/* Andrii's old style below; changed with the above section.
 *     .referenced_heading {
 *             font-family: Arial, Helvetica, sans-serif;
 *             font-size: 9pt;
 *             font-weight: bold !important;
 *             color: rgba(0, 0, 0, 0.77);
 *             background-color: #FFFF66;
 *             } 
*/

/* Stop Andrii's revocations */


/* Craig inserted for Bio image start */

img.alignleft { float: left; margin: 0 1em 1em 0; border-style: solid; border-width: 1px; max-width:100%; height:auto;}

/* Craig inserted for Bio image end */

/* (1)
 * CCB inserted for the contact form
 * */

div#envelope{
float:left;
width:100%;
margin:10px 30% 0px 0px;
/* Below used to be: background-color:#f2f4fb; */
background-color:white;
padding:10px 0;
/*Below used to be:  border:1px solid gray;  */
border:0px solid gray;
border-radius:0px
}

#contactform{
float:left;
/*Below used to be: width:70%; */
width:85%;
/*Below used to be: margin:0 15% */
margin:0 0
}
#contactform input{
/* Old was: text-align:center; */
text-align:left;
font-family:'Roboto Slab',serif
}
/* Makes responsive fields. Sets size and field alignment. */
#contactform input[type=text]{
/*Below used to be 20px */
margin-bottom:5px;
/*Below used to be 10px */
margin-top:1px;
width:100%;
/*Below used to be 15px */
padding:5px;
border-radius:5px;
/*Below used to be: border:1px solid #7ac9b7 */
border:1px solid #054aa6;
}
#contactform textarea{
width:100%;
padding:15px;
margin-top:10px;
/* Below used to be: border:1px solid #7ac9b7; */
border:1px solid #054aa6;
border-radius:5px;
margin-bottom:20px;
resize:none;
}
#contactform input[type=text]:focus,textarea:focus{
border-color:#4697e4
}
#contactform input[type=submit]{
margin-bottom:20px;
width:100%;
padding:15px;
border-radius:5px;
border:1px solid #7ac9b7;
/* Old below: background-color:#a4e6db */
background-color:#054aa6;
/* Below inserted by CCB, not originally present */
color: white;
text-align:center;
font-weight: bold;
}

/* (2)
 * By using @ media form can have different layout for screen, mobile phone, tablet. */

/* "@media screen" below sets the form layout for mobile phone, tablet. */
@media screen and (max-device-width: 600px){
div#envelope{
float:left;
width:100%;
margin:10px 30% 0px 0%;
/* Below used to be: background-color:#f2f4fb; */
background-color:white;
padding:10px 0;
/*Below used to be:  border:1px solid gray;  */
border:0px solid gray;
border-radius:0px;
}
#contactform{
float:left;
/*Below used to be: width:70%; */
width:85%;
/*Below used to be: margin:0 15% */
margin:0 0;
}
#contactform input{
/* Old was: text-align:center; */
text-align:left;
font-family:'Roboto Slab',serif
}
/* Makes responsive fields. Sets size and field alignment. */
#contactform input[type=text]{
/*Below used to be 20px */
margin-bottom:5px;
/*Below used to be 10px */
margin-top:1px;
width:100%;
/*Below used to be 15px */
padding:5px;
border-radius:5px;
/*Below used to be: border:1px solid #7ac9b7 */
border:1px solid #054aa6;
}
#contactform textarea{
width:100%;
padding:15px;
margin-top:10px;
/* Below used to be: border:1px solid #7ac9b7; */
border:1px solid #054aa6;
border-radius:5px;
margin-bottom:20px;
resize:none;
}
#contactform input[type=text]:focus,textarea:focus{
border-color:#4697e4
}
#contactform input[type=submit]{
margin-bottom:20px;
width:100%;
padding:15px;
border-radius:5px;
border:1px solid #7ac9b7;
/* Old below: background-color:#a4e6db */
background-color:#054aa6;
/* Below inserted by CCB, not originally present */
color: white;
text-align:center;
}
}
