<div class="col-xs-12 main_container padding-zero-tp">
Port data last verified: {{update_date}}
	<div class="row">
		<div class="col-xs-12 list_box dark_color">
			<div class="row">
				{% if 'error' in result %}
					{{result['error']}}
				{% end %}
				{% if 'results' in result %}
					<table class="table table-condensed table-striped table-bordered ">
						<thead>
							<tr>
								<th style="width: 20%"> Port Name</th>
								<th style="width: 50%"> Location Address</th>
								<th style="width: 30%"> Field Operation Office </th>
							</tr>
						</thead>
						<tbody>
							{% for item in result["results"] %}
							<tr>
								<td class="abt"><a href="{{item['port_href']}}">{{item['port_name']}}</a></td>
								<td class="abt">{{item['location']}}</td>
								<td class="abt"><a href="{{item['office_href']}}">{{item['office']}}</a></td>
							</tr>
							{% end %}
						</tbody>
					</table>
				{% end %}
			</div>
		</div>
	</div>
</div>
{% include "ports_footer.html" %}

