<div class="col-xs-12 main_container padding-zero-tp">
	<div class="row">
		<div class="col-xs-12 list_box dark_color">
			<div class="col-xs-12 abt padding_zero">
				{% raw content %}
			</div>
		</div>
	</div>
</div>
{% include "ports_footer.html" %}