{% extends "../base.html" %} 
{% block meta_tag %}
        <title>CustomsMobile - Ports</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        Remmed out the above, since the below 2 lines prevent pinch-to-zoom, since we now have icons to +/- font size 
-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="description" content="CustomsMobile Ports provides a complete and mobile friendly listing of all US Customs & Border Protection (CBP) ports of entry, with contact details, physical and mailing address, phone and fax numbers, email addresses, and directions.">
{% end %}
{% block content %}
{% import math %}

<div class="container">
	<div class="row">
		<form action="{{ ports_url }}" name='frm' method="post">

			<!-- PORTS Header BEGIN ========================================= -->
			{% include "ports_header.html" %}
			<!-- PORTS Header END =========================================== -->

			<!-- PORTS List BEGIN ========================================= -->
 			{%include "ports_list.html" %}
			<!-- PORTS List END =========================================== -->

		</form>
	</div>
</div>
<!-- FONT RESIZE FUNCTION -->
<div style="display:none" id="font_size_attributes">.abt,.list_box li,p</div> <!-- DO NOT TOUCH -->
{% end %}
