{% extends "../base.html" %} 
{% block content %}
{% import math %}
<script type="text/javascript" language="javascript">
	$('#subcaption').html(' - Details');
</script> 
<div class="container">
	<div class="row">

		<!-- PORTS Header BEGIN ========================================= -->
		<div class="col-xs-12 blue_bar">
			<div class="row">
				<div class="col-xs-9 form-inline search_bar"></div>
				<div class="col-xs-3 back_btn text-right">
       				<a id="h_path" style='cursor: pointer;' href='/ports'> <i class="fa fa-angle-left"></i> Back </a>
   				</div>
   			</div>            
		</div>
		<!-- PORTS Header END =========================================== -->

		<!-- PORTS Doc Result BEGIN ========================================= -->
		{% include "ports_doc_result.html" %}
		<!-- PORTS Doc Result END =========================================== -->


	</div>
</div>
<!-- FONT RESIZE FUNCTION -->
<div style="display:none" id="font_size_attributes">.abt,.list_box li,p</div> <!-- DO NOT TOUCH -->
{% end %}