<div class="col-xs-12 blue_bar">
	<div class="row">
<div class="col-xs-9 form-inline search_bar">
<label> Port: </label>
        	<select name="state" class="form-control blue-bg select_box" onchange="javascript:formHandler()">
<option value="" selected>Select</option>
        		<option value="all"{% if state == "all" %} selected ="" {% end %}>All States</option>
                <option value="AL" {% if state == "AL" %} selected ="" {% end %}>Alabama</option>
                <option value="AK" {% if state == "AK" %} selected ="" {% end %}>Alaska</option>
                <option value="AZ" {% if state == "AZ" %} selected ="" {% end %}>Arizona</option>
                <option value="AR" {% if state == "AR" %} selected ="" {% end %}>Arkansas</option>
                <option value="CA" {% if state == "CA" %} selected ="" {% end %}>California</option>
                <option value="CT" {% if state == "CT" %} selected ="" {% end %}>Connecticut</option>
                <option value="DE" {% if state == "DE" %} selected ="" {% end %}>Delaware</option>
                <option value="FL" {% if state == "FL" %} selected ="" {% end %}>Florida</option>
                <option value="GA" {% if state == "GA" %} selected ="" {% end %}>Georgia</option>
                <option value="HI" {% if state == "HI" %} selected ="" {% end %}>Hawai`i</option>
                <option value="ID" {% if state == "ID" %} selected ="" {% end %}>Idaho</option>
                <option value="IL" {% if state == "IL" %} selected ="" {% end %}>Illinois</option>
                <option value="IA" {% if state == "IA" %} selected ="" {% end %}>Iowa</option>
                <option value="IN" {% if state == "IN" %} selected ="" {% end %}>Indiana</option>
                <option value="KS" {% if state == "KS" %} selected ="" {% end %}>Kansas</option>
                <option value="KY" {% if state == "KY" %} selected ="" {% end %}>Kentucky</option>
                <option value="LA" {% if state == "LA" %} selected ="" {% end %}>Louisiana</option>
                <option value="MA" {% if state == "MA" %} selected ="" {% end %}>Massachusetts</option>
                <option value="ME" {% if state == "ME" %} selected ="" {% end %}>Maine</option>
                <option value="MD" {% if state == "MD" %} selected ="" {% end %}>Maryland</option>
                <option value="MN" {% if state == "MN" %} selected ="" {% end %}>Minnesota</option>
                <option value="MS" {% if state == "MS" %} selected ="" {% end %}>Mississippi</option>
                <option value="MO" {% if state == "MO" %} selected ="" {% end %}>Missouri</option>
                <option value="MI" {% if state == "MI" %} selected ="" {% end %}>Michigan</option>
                <option value="MT" {% if state == "MT" %} selected ="" {% end %}>Montana</option>
                <option value="NH" {% if state == "NH" %} selected ="" {% end %}>New Hampshire</option>
                <option value="NJ" {% if state == "NJ" %} selected ="" {% end %}>New Jersey</option>
                <option value="NY" {% if state == "NY" %} selected ="" {% end %}>New York</option>
                <option value="NM" {% if state == "NM" %} selected ="" {% end %}>New Mexico</option>
                <option value="NE" {% if state == "NE" %} selected ="" {% end %}>Nebraska</option>
                <option value="NV" {% if state == "NV" %} selected ="" {% end %}>Nevada</option>
                <option value="NC" {% if state == "NC" %} selected ="" {% end %}>North Carolina</option>
                <option value="ND" {% if state == "ND" %} selected ="" {% end %}>North Dakota</option>
                <option value="OH" {% if state == "OH" %} selected ="" {% end %}>Ohio</option>
                <option value="OK" {% if state == "OK" %} selected ="" {% end %}>Oklahoma</option>
                <option value="OR" {% if state == "OR" %} selected ="" {% end %}>Oregon</option>
                <option value="PA" {% if state == "PA" %} selected ="" {% end %}>Pennsylvania</option>
                <option value="RI" {% if state == "RI" %} selected ="" {% end %}>Rhode Island</option>
                <option value="SC" {% if state == "SC" %} selected ="" {% end %}>South Carolina</option>
                <option value="SD" {% if state == "SD" %} selected ="" {% end %}>South Dakota</option>
                <option value="TN" {% if state == "TN" %} selected ="" {% end %}>Tennessee</option>
                <option value="TX" {% if state == "TX" %} selected ="" {% end %}>Texas</option>
                <option value="UT" {% if state == "UT" %} selected ="" {% end %}>Utah</option>
                <option value="VT" {% if state == "VT" %} selected ="" {% end %}>Vermont</option>
                <option value="VA" {% if state == "VA" %} selected ="" {% end %}>Virginia</option>
                <option value="WA" {% if state == "WA" %} selected ="" {% end %}>Washington</option>
                <option value="WV" {% if state == "WV" %} selected ="" {% end %}>West Virginia</option>
                <option value="WI" {% if state == "WI" %} selected ="" {% end %}>Wisconsin</option>
                <option value="WY" {% if state == "WY" %} selected ="" {% end %}>Wyoming</option>
              </select>
       	</div>
  		<div class="col-xs-3 back_btn text-right">
        	<a id="h_path" style='cursor: pointer;' href="javascript: history.go(-1)"> <i class="fa fa-angle-left"></i> Back </a>
    	</div>
    </div>
</div>
<script language="JavaScript">
	function formHandler(form){
		var frm=document.frm;
		frm.submit();
    }
</script>
