<!DOCTYPE html>
<html lang="en">

<!-- Head BEGIN =========================================== -->
{% include "head.html" %}
<!-- Head END =========================================== -->
<body class="body-push" style="zoom: 1;">

	<!-- Header BEGIN ========================================= -->
	{% include "header.html" %}
	<!-- Header END =========================================== -->

	<div id="content">
  	{% block content %}{% end %}
	</div>
	          
	          
	<!-- Footer BEGIN ========================================= -->
	{% include "footer.html" %}
	<!-- Footer END =========================================== -->                               
	<script src="https://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/jquery.jfontsize-1.0.js" type="text/javascript" ></script>        
	<script src="/static/js/scripts.js" type="text/javascript"></script>        
</body>
</html>
