<!-- <footer id="footer">
        <div id="footerContent">
                <h5></h5>
        </div>
</footer> -->

<div class="container"> 
<div class="row">     

<!--Start disclaimer & privacy links. Created  with div  -->          
	<div class="footer-link-a">
		&copy; 2014 CustomsMobile | <a href="/disclaimer.html">Disclaimer</a> | <a href="/privacy.html">Privacy</a>
	</div>
<!-- End disclaimer & privacy links. Created with div -->

<!-- Start advertisement placeholder -->
	<div class="col-xs-12">
	    <div class="row">
        	<div class="col-xs-12 adv_container">
<!--           		<img src="/static/img/adv.png" class="img-responsive" alt="" /> -->
<div class="sm-float">
<a href="https://www.facebook.com/pages/CustomsMobile/559630777516593" target="_blank"><i class="fa fa-facebook-square facebook-float"></i></a>
<a href="https://twitter.com/CustomsMobile" target="_blank"><i class="fa fa-twitter twitter-float"></i></a>
</div>

        	</div>
	    </div>
	</div>
<!-- End advertisement placeholder -->

</div>
</div>
