<head>
<!-- Meta tag BEGIN =========================================== -->
{% include "meta.html" %}
<!-- Meta tag END =========================================== -->

	<link rel="shortcut icon" href="/static/img/ico/fav-icon.png">
	
	<!--[if IE 7]>
	         <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
	         <![endif]-->
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/style.css" rel="stylesheet">
	
	<!-- Just for debugging purposes. Don't actually copy this line! -->
	<!--[if lt IE 9]><script src="docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	        <![endif]-->
	<script src="/static/js/ajax_googleapis_jquery.js" type="text/javascript"></script>
 	<script type="text/javascript" language="javascript" src="/static/js/jquery.jfontsize-1.0.js"></script>

<!-- Start Google Analytics code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
 
  ga('create', 'UA-52746142-1', 'auto');
  ga('send', 'pageview');
 
</script>
<!-- End Google Analytics code -->
    {% block add_css %}{% end %}
	{% block service_head %}{% end %}
</head>
