<div class="col-xs-12 top_bar">
	<div class="row">
		<div class="col-xs-3">
			<h1><b>{{ caption }}&nbsp;</b><b1 id="subcaption"></b1></h1>
		</div>
		<div class="col-xs-9 text-right">
			<div class="font_size_new_plusminus_container">
				<a class="jfontsize-button" id="jfontsize-m2"
					style="cursor: pointer;"><div class="font_size_new_plusminus">A-</div></a>
				<a class="jfontsize-button" id="jfontsize-p2"
					style="cursor: pointer;"><div class="font_size_new_plusminus">A+</div></a>
			</div>

<!-- The below <label> menu options are hidden through a CSS tag in /static/style.css -->
						<label>
				<select>
						<option selected="">Select Language</option>
						<option>Short Option</option>
						<option>This Is A Longer Option</option>
				</select>
				</label>

			<div id="menuToggle" class="">
				<i class="fa fa-bars"></i>
			</div>
			
			<!-- Navigation BEGIN ========================================= -->
			{% include "navigation.html" %}
			<!-- Navigation END =========================================== -->
		</div>
	</div>
</div>

