<!DOCTYPE html>
<html lang="en">
<head>

<!-- Meta tag BEGIN =========================================== -->
{% include "meta.html" %}
<!-- Meta tag END =========================================== -->

<link rel="shortcut icon" href="/static/img/ico/fav-icon.png">
<title>CustomsMobile</title>

<!--[if IE 7]>
         <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
         <![endif]-->
<link href="static/css/font-awesome.min.css" rel="stylesheet">
<link href="static/style.css" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52746142-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<!-- Header
    ================================================== -->
<body class="index-page">
<div class="container head-bg bbb">
	<img src="static/img/home-bg.jpg" alt=""/>
</div>
<div class="container">
	<header  class="header">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 logo">
				<img src="static/img/logo.png" alt=""/>
			</div>
		</div>
	</header>
	<section class="navigation-section">
		<ul>
			<li> <a href="cross"> <i class="fa fa-gavel"></i> Rulings </a> </li>
			<li> <a href="notices"> <i class="fa fa-file-text-o"></i> Notices </a> </li>
			<li> <a href="usitc"> <i class="fa fa-table"></i> HTSUS </a> </li>
			<li> <a href="static/regs.php"> <i class="fa fa-book"></i> Regs </a> </li>
			<li> <a href="ports"> <i class="fa fa-ship"></i> Ports </a> </li>
			<li> <a href="about.html"> <i class="fa fa-user"></i> About </a> </li>
			<li> <a href="updates.html"> <i class="fa fa-wrench"></i> Updates </a> </li>
		</ul>
		
		<!--Start disclaimer & privacy links. Created  with div  -->
		<div class="footer-link-a">
			&copy; 2014 CustomsMobile | <a href="/disclaimer.html">Disclaimer</a> | <a href="/privacy.html">Privacy</a>
		</div>
		<!-- End disclaimer & privacy links. Created with div -->
		
	</section>
</div>

<!-- Bootstrap core JavaScript
        ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
<script src="static/js/bootstrap.min.js"></script> 
<script src="static/js/scripts.js"></script> 
<script src="static/docs-assets/js/holder.js"></script>
</body>
</html>
