{% block meta_tag %}
	<title>CustomsMobile</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--        
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	Remmed out the above, since the below 2 lines prevent pinch-to-zoom, since we now have icons to +/- font size 
-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="description" content="CustomsMobile is a U.S. Customs (CBP) focused  website that provides access to all US Customs Rulings which CBP publishes on CROSS, CBP Notices (CSMS), Harmonized Tariff Schedule of the United States (HTSUS), US Port information, and the Code of Federal Regulations (CFR).  CustomsMobile provides this information in a free, fun, and easy to use mobile format.  CustomsMobile versatility and ease of use enables users to perform all import classification, valuation, and entry research just as easily on a desktop computer as on a smartphone or tablet.">	
	<meta name="author" content="CustomsMobile">
{% end %}