<nav class="nav-left" id="theMenu">
	<div class="menu-wrap">
		<i class="fa fa-times-circle menu-close"></i>
		<ul>
			<li><a href="/cross"> <i class="fa fa-gavel"></i> Rulings </a></li>
			<li><a href="/notices"> <i class="fa fa-file-text-o"></i> Notices </a></li>
			<li><a href="/usitc"> <i class="fa fa-table"></i> HTSUS </a></li>
			<li><a href="/static/regs.php"> <i class="fa fa-book"></i> Regulations </a></li>
			<li><a href="/ports"> <i class="fa fa-ship"></i> Ports </a></li>
			<li><a href="/about.html"> <i class="fa fa-user"></i> About </a></li>
			<li><a href="/updates.html"> <i class="fa fa-wrench"></i> Updates </a></li>
		</ul>
		
		<!-- Social Media Start --> 
		<a href="https://www.facebook.com/pages/CustomsMobile/559630777516593"><i class="fa fa-facebook-square facebook"></i></a> <a href="https://twitter.com/CustomsMobile"><i class="fa fa-twitter twitter"></i></a> 
		<!-- Social Media End -->
		
	</div>
</nav>
